* {
    box-sizing: border-box;  
}
body{
    background-color: #ddd;
    perspective: 1000px;
}
.card {
    width: 300px;
    height: 342px;
    margin: 50px auto;
    position: relative;
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
    
    box-shadow: 10px 10px 15px #444;
    border-radius: 10px;
}
.card:hover {
    transform: rotateY(180deg) translate(100px);
}
.card > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #444;
    background-color: #eee;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-family: Arial , Tahoma;
    text-align: center;
}
.card .front {
    z-index: 2;
    backface-visibility: hidden;
}
.card .front header {
    background-color: #444;
    width: 101%;
    height: 80px;
    border-radius: 10px 10px 0 0;
    margin-bottom: 60px;
}
.card .front img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    top: 25px;
}
.card .front h3 {
    margin-bottom: 15px;
}
.card .front p {
    margin: 0 auto;
    width: 90%;
    text-align: center;
    line-height: 1.6;
}
.card .front span {
    display: inline-block;
    margin-top: 40px;
    color: rgb(18, 207, 128);
    font-weight: bold;
    cursor: pointer;
}
.card .back {
   z-index: 1; 
   transform: rotateY(180deg);
   backface-visibility: hidden;
   transform-style: preserve-3d;
}
.card .back ul {
    padding: 0;
    list-style: none;
    line-height: 2;
}